p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

#writers-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#name-info {
	font-style: italic;
	color: #5c5c5c;
}

#name {
	text-align: left;
	margin-bottom: 0em;
}

#name-info {
	margin-bottom: 0.2em;
}

.writer-pictures {
	max-width: 100%;
}

.writer-pictures img:hover {
	opacity: 0.7;
}

.row.intro {
	margin-top: 2em;
}

.row.video {
	margin-top: 2em;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #000;
	opacity: 0.3;
}

.fp-controlArrow.fp-prev {
	border-color: transparent #000 transparent transparent;
	opacity: 0.3;
}