#name {
	text-align: left;
	margin-bottom: 0em;
}

#name-info {
	margin-bottom: 0.2em;
}

.writer-pictures {
	max-width: 100%;
}

.writer-pictures img:hover {
	opacity: 0.7;
}

.row.intro {
	margin-top: 2em;
}

.row.video {
	margin-top: 2em;
}